<!--<div ng-include="'components/navbar/navbar.html'"></div>-->
<nav id="myNavbar" class="navbar navbar-logo" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
              <img class="img-responsive mod-logo" src=".img/logoInverted.png" alt="Logo"></img>
            </div>
        </div>
</nav>

<div class="padding">
<h1>Lucas, George</h1>
 
    <style>
        .trip {
            background: #71D677 ;
        }
    </style>
 
    <div class="row">
        <div class="col-sm-3 blocktest" >
            <h3>Trips</h3>
            <div ng-repeat="trip in allTrips track by $index" class="col-sm-12 trip" ng-click="getTransaction(trip.id)">
                <h2 style="large_text"> {{ trip.attributes.Name }} </h2>
                {{ trip.attributes.Employer }} </br>
                <p> {{ trip.attributes.Dates }} </p>
                <hr>
            </div>
        </div>
        <div class="col-sm-4 blocktest">
            <h3>Transactions</h3>
            <!-- {{transactions}}
            <hr>
            {{transactions[0]}}
            <hr>
            {{transactions[0].vendor}} -->
            <div ng-repeat="trans in transactions" class="col-sm-12 trip" ng-click="setCurrentReceipt(trans)">
                <!-- {{trans.attributes}} -->
                <h2 style="large_text"> {{ trans.attributes.vendor }} </h2>
                {{ trans.attributes.reason }}
                <style = "right_align">
                    $accounting.formatNumber({{ trans.attributes.amount }})
                </style>
                <br>
                {{ trans.attributes.approved }} 
                <hr>
            </div>
        </div>
        <div class="col-sm-4">
            <h3>Receipt</h3>
            <div>
                <!-- {{receipt}} -->
                <img ng-src="{{receipt._url}}">
                <p> {{ receiptInfo.vendor }} </p>
                <p> {{ receiptInfo.reason }} </p>
                <p> {{ receiptInfo.amount }} </p>
            </div>
        </div>
    </div>
</div>
