.navbar-logo {
  background-color: #004977;
  border-color: #e7e7e7;
}

.mod-logo {
	max-width: 25%;
	float: left, top;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-employee {
  color: #03ff5f;
  background-color: #1d6591;
  border-color: #010203;
  width: 100%;
  height: 100%;

}

.employeeBorder {
  color: #ffffff;
  background-color: #1d6591;
  border-color: #010203;
  border-radius: 10px;
  margin: 20px;
}

.inactive {
	opacity: 0.5;
}


@font-face {
    font-family: SanFran;
    src: url(fonts/SanFranciscoThin.ttf);
}